<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
    <style>
        .done {
            text-decoration:line-through;
        }
        :root{
            --bg:red;
            --f:green;
        }

        .bg-mode {
            background-color:var(--bg);
            color:var(--f)
        }

        #cbx:checked ~ .bg-mode{
            --bg:blue;
            --f:white
        }
    </style>
</head>
<body>
    <input type="checkbox" id="cbx">
    <main class="bg-mode" id="app">

        <form @submit.prevent="add">
            <label for="newTodo">add new todo : </label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
            <button type="submit">Add</button>
        </form>
        <button @click="done">mark all done</button>
        <ul>
            <li v-for="todo in todoList">
                <input type="checkbox" v-model="todo.done">
                <span :class="{done:todo.done}">{{todo.title}}</span>
                <button @click="remove(todo)">remove</button>
            </li>
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>