@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* variables   */

:root {

    /* colors */

    --Bright-Blue: hsl(220, 98%, 61%);
    --c1:hsl(237, 14%, 26%);
    --c2:hsl(235, 24%, 19%);
    --c3:hsl(233, 14%, 35%);
    --Blue-1:hsl(192, 100%, 67%);
    --Green-1:hsl(280, 87%, 65%);
    --bg-image:url('images/bg-mobile-dark.jpg');
    --Check-Background: linear-gradient(to bottom right,var(--Blue-1),var(--Green-1));
    --white:white;

    /* font */

    --fs:18px;
    --ff:'Josefin Sans', sans-serif;
    --fw-s:400;
    --fw-l:700;

}

/* variables   */

/* static style */

    *,*::before,*::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        box-sizing: inherit;
        font-size:var(--fs);
        font-family: var(--ff);
        color: var(--white);
    }

    img {
        display: block;
    }

    input[type='text'] {
        border:none;
        outline: none;
    }

    button {
        border:none;
        background-color: transparent;
        cursor: pointer;
        color:inherit;
    }


/* static style */

/* helper classes */


.done {
    text-decoration:line-through;
    color:var(--c3);
}

.container {
    max-width: 460px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.fg-l {
    flex-grow: 2;
}

.p-bt{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-rl {
    padding-left: 15px;
    padding-right: 15px;
}

.br-s {
    border-radius: .5em;
}

.o-h {
    overflow: hidden;
}

.active {
    color:blue;
}

/* helper classes  */

.main {
    /* padding: 0 24px; */
    background-color: var(--c1);
    padding-bottom: 5em;
}



.form {
    background: var(--bg-image) no-repeat;
    background-size: cover;
    padding: 44px 0;

}

.form__header {
    margin-bottom: 50px;
}

@media screen and (min-width:500px){
    :root{
        --bg-image:url('images/bg-desktop-dark.jpg');
    }
    .form{

        background: var(--bg-image) no-repeat;
    }
}

.form button {
    display: none;
}

.form__input {
    width: 100%;
    background-color: var(--c2);
    color: var(--c3);
}

.todos {
    /* transform: translateY(-24px); */
    max-height: calc(56px * 4);
    overflow-y: scroll;
}

.task {
    background-color:var(--c2);
    border-bottom:1px solid var(--c3);
}
.task__input {
    margin-right: .5em;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid var(--c3);
    background-size: 60%, cover;
}

.task__input:checked {
    background:url('images/icon-check.svg') center center no-repeat,
                var(--Check-Background);
    border:none;
}


.task__remove {
}

.task__remove img {

}

.conf {
    background-color:var(--c2);
    color: var(--c3);
}

.footer {
    background-color: var(--c2);;
    color: var(--c3);
}

.footer input {
    display: none;
}

.footer label{
    cursor: pointer;
}

.footer label:hover {
    color:var(--white);
}

.footer label:not(:last-child){
    margin-right: 1em;
}

